{% extends "header.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="{% static 'js/calendario.js' %}"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/bootstrap-slider.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.7.2/css/bootstrap-slider.min.css" />

{% csrf_token %}
<style>
    #info-box {
        background-color: white;
        border: 1px solid black;
        bottom: 200px;
        height: 40px;
        padding: 10px;
        margin: 8% 13%;
        position: absolute;
        left: 30px;
    }
    .slider-selection {
      background: #BABABA;
    }
</style>

<div class="content-section-a" style="background-color: white;">
  <div class="container">
    <h3>Historial de posiciones</h3>
    <br>
    <div class="row" style="text-align:center;">
      <div class="col-sm-5" style="display:inline-block; float:none;text-align:left;padding-left-left: 10%">
        <div class="input-group">
          <span class="input-group-addon"> Seleccione Fecha y Hora:</span>
          <input class="form-control" type="text" id="calendario">
          <span class="input-group-addon" data-toggle="tooltip"  title="Click en la casilla blanca para seleccionar fechas" data-placement="bottom"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
        </div>
      </div>
      <div class="col-sm-6" style="display:inline-block; float:none;text-align:left;padding-left: 5%">
        <div class="input-group">
          <span class="input-group-addon">Desplace la posición del indicador:</span>&nbsp;&nbsp;&nbsp;
          <input id="points" data-slider-id='ex1Slider' type="text" data-slider-min="1" data-slider-max="{{syrus_data|length}}" data-slider-step="1" data-slider-value="1"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="map" style="width:80%;height:75%; margin-left: auto; margin-right: auto;float: none;"></div>
<div id="info-box"></div>
<div id="elevation_chart"></div>

<script type="text/javascript" src="{% static 'js/historial.js' %}"></script>
<script src="https://www.google.com/jsapi"></script>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});

var poly;
var Smarker;var Emarker;
var marker;
var map;
var coordenadas = [];
var fechas = [];
var puntos_Slider = $('#points').slider()
var bounds;
function initMap() {

  //var coordenadas = []; //[{lat: 37.772, lng: -122.214}];
  {% for s in syrus_data %}
  coordenadas.push({lat: {{s.latitude}}, lng: {{s.longitude}}});
  fechas.push("{{s.date}}");
  {% endfor %}
  //if (coordenadas.length==0) {alert("coordenadas vacias");coordenadas = [{lat: 11.019632, lng: -74.851054}];}
  var numDatos = Object.keys(coordenadas).length;
  map = new google.maps.Map(document.getElementById('map'), {
    zoom: 20,
    center: {lat: 11.019632, lng: -74.851054},
    zoomControl: true,
    zoomControlOptions: {
        position: google.maps.ControlPosition.LEFT_CENTER
    },
    scaleControl: true,
    streetViewControl: false,
    mapTypeId: 'terrain'
  });

  // Load the Visualization API and the columnchart package.
  google.load('visualization', '1', {packages: ['columnchart']});

  trazarRecorrido(coordenadas,fechas);
  // Create an ElevationService.
  var elevator = new google.maps.ElevationService;

  // Draw the path, using the Visualization API and the Elevation service.
  displayPathElevation(coordenadas, elevator, map);
}

function trazarRecorrido(coordenades, dates) {
  fechas = dates;
  coordenadas = coordenades;
  var numDatos = Object.keys(coordenadas).length;
  if (numDatos!=0){    
    poly = new google.maps.Polyline({
      path: coordenades,
      geodesic: true,
      strokeColor: '#993333',
      strokeOpacity: 1.0,   
      strokeWeight: 2
    });
    var index_centro = parseInt(numDatos/2);
    if (coordenadas.length>1) {
      Emarker = new google.maps.Marker({
        position: coordenades[numDatos-1],
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png'
      });
      Smarker = new google.maps.Marker({
        position: coordenades[0],
        map: map,
        icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png'
      });
    }
      marker = new google.maps.Marker({
      position: coordenadas[0],
      map: map,
      icon: '{% static 'img/truck.png' %}'
    });
    poly.setMap(map);
    bounds = new google.maps.LatLngBounds();
    coordenades.forEach(function(e){bounds.extend(e);})         
    map.fitBounds(bounds);

    /*document.getElementById("points").max = numDatos;
    document.getElementById("points").value = 1;*/
    puntos_Slider.slider({max: numDatos})
    puntos_Slider.slider('setValue',1)
  }
  else {
    map.setOptions({
    maxZoom: 18,
    minZoom: 10
    });
  }
  runPuntos();
}

function run(start_date, end_date) {
    $.ajax({
        type: "GET",
        url: {% url 'fechas' %}/,
        data: {'start_date':start_date, 'end_date':end_date}
    })
    .done(function(response) {
      if (response['puntos'].length =! 0){
          //$('#reloadmapa').replaceWith(response);
          poly.setMap(null);
          marker.setMap(null); Smarker.setMap(null); Emarker.setMap(null);
          trazarRecorrido(eval(response['puntos']),eval(response['date']));
      }
    });
}

$("#points").on("slide", function(slideEvt) {
runPuntos();
});

function runPuntos(){
  marker.setMap(null);
  var punto = document.getElementById("points").value;
  if(Object.keys(coordenadas).length==0){document.getElementById('info-box').textContent = "No hay coordenadas para este rango de fechas";}
  else {document.getElementById('info-box').textContent = "Fecha: " + fechas[punto-1];}
  marker = new google.maps.Marker({
  position: coordenadas[punto-1],
  map: map,
  icon: '{% static 'img/truck.png' %}',
  });
  puntos_Slider.slider({
  formatter: function(value) {
    return "Fecha: " + fechas[value-1];
  }
  });
}

function displayPathElevation(path, elevator, map) {
  // Display a polyline of the elevation path.
  new google.maps.Polyline({
    path: path,
    strokeColor: '#0000CC',
    strokeOpacity: 0.4,
    map: map
  });

  // Create a PathElevationRequest object using this array.
  // Ask for 256 samples along that path.
  // Initiate the path request.
  elevator.getElevationAlongPath({
    'path': path,
    'samples': 256
  }, plotElevation);
}

// Takes an array of ElevationResult objects, draws the path on the map
// and plots the elevation profile on a Visualization API ColumnChart.
function plotElevation(elevations, status) {
  var chartDiv = document.getElementById('elevation_chart');
  if (status !== 'OK') {
    // Show the error code inside the chartDiv.
    chartDiv.innerHTML = 'Cannot show elevation: request failed because ' +
        status;
    return;
  }
  // Create a new chart in the elevation_chart DIV.
  var chart = new google.visualization.ColumnChart(chartDiv);

  // Extract the data from which to populate the chart.
  // Because the samples are equidistant, the 'Sample'
  // column here does double duty as distance along the
  // X axis.
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Sample');
  data.addColumn('number', 'Elevation');
  for (var i = 0; i < elevations.length; i++) {
    data.addRow(['', elevations[i].elevation]);
  }

  // Draw the chart using the data within its DIV.
  chart.draw(data, {
    height: 150,
    legend: 'none',
    titleY: 'Elevation (m)'
  });
}

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCf8jZcZuQrOVqDTov37awP6tPLUHw_NAU&callback=initMap"></script>

{% endblock %}