{% extends "header.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}
<!-- Include Required Prerequisites -->
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
 
<!-- Include Date Range Picker -->
<script type="text/javascript" src="{% static 'js/calendario.js' %}"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

{% csrf_token %}
<style>
    #info-box {
        background-color: white;
        border: 1px solid black;
        bottom: 200px;
        height: 60px;
        padding: 10px;
        margin: 8% 13%;
        position: absolute;
        left: 30px;
    }
</style>

<div class="content-section-a" style="background-color: white;">
  <div class="container">
    <h3>Mapa de relieve batimétrico - Render 3D</h3>
    <br>
    <div class="row" style="text-align:center;">
      <div class="col-sm-8" style="display:inline-block; float:none;text-align:left;padding-left-left: 10%">
        <div class="input-group">
          <span class="input-group-addon"> Seleccione Fecha y Hora:</span>
          <input class="form-control" type="text" id="calendario">
          <span class="input-group-addon" data-toggle="tooltip"  title="Click en la casilla blanca para seleccionar fechas" data-placement="bottom"><i class="glyphicon glyphicon-calendar fa fa-calendar"></i></span>
        </div>
      </div>
      <div class="col-sm-8" style="display:inline-block; float:none;text-align:left;padding-left-left: 10%">
        <div id="myDiv" style="width:500px; height:400px; position: center"></div>
      </div>
      
      <br><br><br><br><br><br><br><br><br>
    </div>
    
    
  </div>
  
</div>


<script type="text/javascript" src="{% static 'js/historial.js' %}"></script>

<script>

var layout = {
  title: '3D',
  autosize: true,
  zoom: 'auto',
  width: 600,
  height: 600,
  margin: {
    l: 65,
    r: 50,
    b: 65,
    t: 90,
  }
};
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();   
  
  var z_data=[]; var x_data=[]; var y_data=[];
  {% for s in syrus_data %}
  x_data.push({{s.longitude}});
  y_data.push({{s.latitude}});
  //var location = {lat: {{s.latitude}}, lng: {{s.longitude}}};
  z_data.push({{s.elevation}});
  {% endfor %}

  var data = [{
         x: x_data, y: y_data, z: z_data,
             name: '',
             showscale: false,
             type: 'mesh3d' //type: 'surface'
          }];
  console.log(data)

  Plotly.newPlot('myDiv', data, layout);


});

    function plot() {
  }



function run(start_date, end_date) {
    $.ajax({
        type: "GET",
        url: {% url 'altura' %}/,
        data: {'start_date':start_date, 'end_date':end_date}
    })
    .done(function(response) {
      elevation_data = response['alturas'];
      if (elevation_data.length != 0){
      var z_data=[]; var x_data=[]; var y_data=[];
      for (var i = 0; i < response['alturas'].length; i++) {
        x_data.push(response['longitudes'][i]);
        y_data.push(response['latitudes'][i]);
        z_data.push(response['alturas'][i]);
      }

      var data = [{
             x: x_data, y: y_data, z: z_data,
                 name: '',
                 showscale: false,
                 type: 'mesh3d' //type: 'surface'
              }];
      console.log('data',data)

      Plotly.newPlot('myDiv', data, layout);
          
      }
    });
}
</script>
{% endblock %}
