{% if Tflag %}
<div id="replace_here" class="content-section-b">
	<div class="container">
	<h3>Posicion actual</h3>
	<br>
	<table id="tabla" class="table">
		
		<tr>
			<th>Fecha</th>
			<th>Hora</th>
			<th>Longitud</th>
			<th>Latitud</th>
		</tr>
		
		<tbody>
		
		<tr>
			<td hidden>{{s.id}}</td>
	    	<td>{{s.date.date}}</td>
	    	<td>{{s.date.time}}</td>
	    	<td>{{s.longitude}}</td>
	    	<td>{{s.latitude}}</td>
		</tr>
		
		</tbody>
	</table>
	</div>
	
	<div class="google-maps">
	<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=%2B{{s.longitude}}%2C%20{{s.latitude}}&key=AIzaSyAUJJkRdKROdliAKBSJ18UmwNk0XL3bb8M" allowfullscreen></iframe>
	</div>
</div>
{% endif %}