{% extends "header.html" %}
{% load staticfiles %}
{% load static %}

{% block content %}

    <!-- Header -->
    
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <hr class="intro-divider">
                            <h1>El Bote del Tío</h1>
                            <h3>Visualización Batimétrica en vivo</h3>
                        <ul class="list-inline intro-social-buttons">
                            <!---<li>
                                <a href="https://twitter.com/SBootstrap" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>--->
                            <li>
                                <a href="https://github.com/RaptrX/GPStracker_site" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.intro-header -->

    <!-- Page Content -->


    <a  name="services"></a>
                          
    <div class="content-section-a" align="center">
            <h2>TUTORIAL</h2>
             <h4>Vea una simple muestra de como utilizar nuestros servicios abajo</h4><br><br>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Acceda a la ubicación y profundidad de su Bote en tiempo real</h2>
                    <p class="lead">1. Al hacer click en la pestaña "Tiempo Real" podrá ver en tiempo real la ubicacion y profundidad en ese punto.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
            
                    <img class="img-responsive" src="{% static 'img/dondeest.gif' %}" alt="">
                </div>
             </div>
        </div>
    </div>

    <div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading"> Historial de recorridos del vehículo<br></h2>
                    <p class="lead">1. Al hacer click en la pestaña de "Históricos" podrá acceder al historial de posiciones y profundidades.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/dondeha.gif' %}" alt="">
                </div>
            </div>
        </div>

        <div class="container">
             <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">2. Para seleccionar el rango de fechas entre las que desea visualizar los recorridos solo debe dar click en las fechas para modificarlas en el calendario desplegable.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/fecha.gif' %}" alt="">
                </div>
              </div>
        </div>

        <div class="container">
             <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">3. Una vez escogida la fecha, con el slider que esta abajo de esta puede mover el indicador del vehículo en el trayecto para saber en que momento específico se registró cada posición y profundidad.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/slider.gif' %}" alt="">
                </div>
              </div>
        </div>
          <div class="container">
             <div class="row">
                  <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">4. Debajo del mapa se encuentra un plano 2D con profundidad vs tiempo.</p>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="{% static 'img/pvt.gif' %}" alt="">
                </div>
              </div>
        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-b -->

    <div class="content-section-a">

        <div class="container">

            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">¿Desea ver la representación 3D?<br></h2>
                    <p class="lead">La pestaña de "Histórico 3D" le permite justo eso. </p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/estazona.gif' %}" alt="">
                </div>
            </div>

        </div>

        <div class="container">
             <div class="row">
                  <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">2. Solo debe con el rectangulo demarcar el espacio deseado.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/rectangulo.gif' %}" alt="">
                </div>
              </div>
        </div>

        <div class="container">
             <div class="row">
                  <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead">3. Los indicadores le proporcionaran algo de información extra para que sepa en que momento se registró cada posicíon en la zona.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/indicador.gif' %}" alt="">
                </div>
              </div>
        </div>

    </div>

    <a name="about"></a>
    <div class="content-section-a">

        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Contacto</h2>
                    <p class="lead">Para contactarnos escribir a alguno de los siguientes correos:<br>
                        Catherine Diaz - dcatherine@uninorte.edu.co<br>
                        Daniela Rada - destarita@uninorte.edu.co<br>
                        Giorgio Russo - grusso@uninorte.edu.co<br>
                        Sorelys Sandoval - sorelyss@uninorte.edu.co</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="{% static 'img/titi.jpg' %}" alt="">
                </div>      
             </div>
         </div>
    </div>

    <a  name="contact"></a>
    <div class="banner" style="background-image: {% static 'img/botedeltio.jpg' %}">
        <div class="container">
            <div class="row">
                <div class="col-lg-6"  >
                    <h3>Haga click para saber más de nuestro servicio:</h3>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons" >
                        <li>
                            <a href="https://github.com/RaptrX/GPStracker_site" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.banner -->
{% endblock %}
